h1{
    color:red ;
}
body,html{
    margin:0px;
    padding :0px;

}
body{
    background:url(./ná»n.jpeg) no-repeat center center fixed ;
    background-size:cover;
}
img{
    margin-top: 10px;
    width:100px;
    height:100px;
    margin-left: 10px;
} 
header{
    margin-top: 1em;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center;
}
header > img{
width:8em;
height:9em;
border-radius: 100%;
border:2px solid #fff;
box-shadow: red 0px 2px 8px 0px ;
}
header > h1{
    display:inline-block;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 2em;
    background-color: #000;
    color:#fff;
    padding: 0.3em 0.6em;
    border: 2px solid #fffa;
}
ul > li {
background-color: #fff;
border-radius: 1em;
padding: 0.5 ;
margin: 1em 0;
align-items: center;
display:flex;
display:inline-block;

}
ul > li > a {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap:0 em;
}
a{
    color:#000;
    text-decoration:none;
    font-size: 20px;
    padding-top: 10px;
}
ul{
    text-align: center;
    padding:auto;
}
.cuoi{
    margin-top: 5px;
    text-align: center;
    color:#131313
}
